.container {
  text-align: center;
  margin-bottom: 90px;
}
.container > div {
  display: inline-block;
  margin: auto;
}

.container > div > span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--app-gray);
  font-weight: 500;
  border: 1px solid var(--app-ash);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.container > div::after,
.container > div::before {
  content: "";
  display: inline-flex;
  background: var(--app-ash);
}

.container > div:not(:nth-of-type(1))::before {
  width: 15px;
  height: 2px;
}

.container > div:not(:nth-of-type(4))::after {
  width: 15px;
  height: 2px;
}

.active span {
  background: var(--app-blue);
  border-color: var(--app-blue) !important;
  color: var(--app-white) !important;
}

.active::after,
.active::before {
  background: var(--app-blue) !important;
}

@media screen and (min-width: 375px) {
  .container > div > span {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 768px) {
  .container > div > span {
    width: 40px;
    height: 40px;
  }

  .container > div:not(:nth-of-type(1))::before {
    width: 30px;
  }

  .container > div:not(:nth-of-type(4))::after {
    width: 30px;
  }
}
