.container {
  background: var(--app-blue);
  border: 1px solid var(--app-blue);
  border-radius: 5px;
  color: var(--app-white);
  cursor: pointer;
  font-size: 0.9rem;
  width: 100%;
  padding: 16px;
}

.container:hover {
  background: var(--app-white);
  color: var(--app-blue);
}
