@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap");

:root {
  --app-white: #ffffff;
  --app-black: #080b11;
  --app-blue: #664de5;
  --app-ash: #a8afbd;
  --app-gray: #5a6477;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--app-white);
  min-height: 100vh;
}

.container {
  max-width: 1280px;
}
